/*BG Colors*/
$color-primary-1:#507fb6;
$color-primary-2:#ffffff;
$color-primary-3:#9fc1e8;
$color-primary-4:#ca4d40;
$color-primary-5:#e9b832;
$color-primary-6:#86c1ea;
$color-primary-7:#2a80b9;
$color-primary-8:#4e4e4e;
$color-primary-9:#eaedf2;
$color-primary-10:#2f83bb;






/*text*/
$color-text-1:#162656;
$color-text-2:#ca4d40;
$color-text-3:#5e666e;
$color-text-4:#777777;
$color-text-5:#002157;
$color-text-6:#ffffff;
$color-text-7:#4e4e4e;
$color-text-8:#63a2cc;
$color-text-9:#898989;
