.title4{
    font-family: $font-regular;
    color: $color-text-2;
    font-size: 28px;
}
.img_logo_discounts{
    
    height: 130px;
}
.discount_info{
    margin-top: 40px;
}
.discount_img_wrapper{
    background: url(../img/discount5.png) no-repeat;
    height: 111px;
    width: 285px;
}
.text8{
    font-family: $font-light;
    text-align: justify;
    color: $color-text-4;
    font-size: 13px;
    margin-top: 50px;
}
.discount_img_wrapper1{
    background: url(../img/dis.png) no-repeat;
    height: 111px;
    width: 285px;
}
.discount_img_wrapper2{
    background: url(../img/dis15.png) no-repeat;
    height: 111px;
    width: 285px;
}