.fas  {
color: $color-primary-4;

}
.chek{
    color: $color-primary-8;
    font-family: $font-light;
    font-size: 12px;
}
.cap-title-section2{
    background: $color-primary-6;
    height: 59px;
    margin-top: 31px;
}