.about_us{
    // height: 90px;
}


.name{
    background: $color-primary-7;
    color: $color-text-6;
    font-family: $font-regular;
    text-align: center;
}
.section_table{
    border: 1px solid #eaedf2;
}
tbody{
    text-align: center;
}
.fluid-order{
    background: $color-primary-9;
    margin-top: 41px;
    height: 79px;
}
.information{
    margin-top: 37px;
}
.cap-title-section1{
    background: $color-primary-7;
    height: 59px;
    margin-top: 31px;
}
.content-section1{
    background: $color-primary-6;
    height: 277px;
}
.text7{
    color: $color-text-6;
    font-family: $font-light;
}