<footer>
    <div class="container-fluid d-xl-block d-flex d-none footer-botom">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 d-xl-block d-flex d-none">
                    <div class="img-logo-wrapper">
                        <img src="../img/logo-footer.png" alt="Logo">
                    </div>
                    <div class="under-logo_text">
                        <p class="text5">Call now: +1-202-555-0194</p>
                        <p class="text5">Email: essayservice@gmail.com</p>
                        <p class="text5">Email: essayservice@gmail.com</p>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="text-wrapper1 d-xl-block d-flex d-none">
                        <p class="text4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum. Sed ut perspiciatis unde
                            omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo
                            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="container-fluid middle-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 d-md-flex align-items-center">
                <div class="social-footer d-flex justify-content-xl-end align-items-center">
                <span class="social_text">
                       Join us:
                </span>
                    <div class="social_icons">
                        <a href="#">
                            <p class="socials_pinterest"></p>
                        </a>
                        <a href="#">
                            <p class="socials_twitter"></p>
                        </a>
                        <a href="#">
                            <p class="socials_facebook"></p>
                        </a>
                    </div>
                </div>
                </div>
        </div>
            <div class="col-xl-9 col-lg-9 col-md-9 d-flex align-items-center justify-content-center">
                <div class="write">
                    <p class="copy-write">
                        Copyright © 2016 EssaysService.com
                    </p>
                </div>
            </div>
    </div>
</div>
</footer>