<header>
    <div class="container-fluid top-header">
        <div class="container">
            <div class="row for-xl-top-header-main">
                <div class="col-xl-9 col-lg-9 col-md-12">
                    <div class="call">
                        <p class="normal"></p>
                        <span class="call__text">Toll for free: <a href="#" class="number">+1-(202)-555-0194</a></span>
                        <p class="active"></p>
                        <span class="call__text">Call now: <a href="#" class="number">+1-(202)-555-0194</a></span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="socials">
                        <p class="socials__text">Join us:</p>
                        <div class="social__icons">
                            <a href="#">
                                <p class="socials__pinterest"></p>
                            </a>
                            <a href="#">
                                <p class="socials__twitter"></p>
                            </a>
                            <a href="#">
                                <p class="socials__facebook"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container middle-header">
        <div class="row for-xl-logo-nav">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-6 col-9">
                <div class="logo">
                    <img src="../img/logo_copy.png" alt="logo">
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-6 col-3 col-xs-hiden">
                <nav>
                    <ul class="nav__list">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a>
                        </li>
                        <li><a href="Service.html">Service & Sprices</a>
                        </li>
                        <li><a href="How-it-works.html">How it works</a>
                        </li>
                        <li><a href="Discounts.html">Discounts</a>
                        </li>
                        <li><a href="Order-now.html">Order now</a>
                        </li>
                        <li><a href="Faq.html">Faq</a>
                        </li>
                        <li><a href="Testimonials.html">Testimonials</a>
                        </li>
                        <li><a href="Blog.html">Blog</a>
                        </li>
                        <li><a href="Samples.html">Samples</a>
                        </li>
                        <li><a href="Login.html">Login</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</header>