<html>
    <head></head>
    <body>
        <main class="how-it-works">
            <div class="container-fluid about_us">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us d-flex justify-content-center align-items-center">
                            <p class="title2">How it works</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_why d-flex align-items-end justify-content-center">
                            <h2 class="title">How does this works?</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text_prices">
                            <p class="text6">Have you been scammed by writing services? Do you resent using a writing
                                service again? We understand your anger and frustration, because many clients who end up
                                with us have experienced just what you have. They paid for a paper and received a
                                terrible product which they could not submit without completely re-writing it or, worse,
                                had to trash it completely.</p>
                            <p class="text6">With EssaysService.com, you get an entirely different process. We are
                                completely open with our customers, and they are aware of every stage their paper is at.
                                Our company together with its customers has managed to build the confidence which is not
                                available with other services. Whether you need an essay, report, critique, term or
                                research paper, thesis or dissertation, the process is the same.When you use us, here is
                                what happens:</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="second_section">
                            <div class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                                <div class="logo">
                                    <img src="../img/works-first.png" alt="logo">
                                </div>
                                <p class="title">1.Place Your Order</p>
                            </div>
                        </div>
                        <div class="text-prices">
                            <p class="text6">Use our user-friendly form to place your order. This form allows you to
                                indicate the academic level (high school, undergraduate, etc.), the specific topic of
                                the piece, type of piece (essay, report, research paper, etc.) and all other
                                requirements, such as length, number and types of resources to be used, citation format,
                                etc. Also on this form, you will find the place to indicate your deadline. This is
                                critically important. We urge you to give us as much time as possible to complete the
                                work, but if the order is truly urgent, we will still accept it and complete it exactly
                                by the deadline. Next step to make is to pay for your order. The prices are based upon
                                our pricing policy which is very flexible and depends upon the work and the deadline.
                                <br>    
                                <br>
                                An order with a short deadline will be immediately assigned to a team of academicians in
                                the subject field who will work together to meet the deadline. If the deadline provides
                                more time, the paper will be transferred to our contracted writers. It will be given to
                                the writer with an appropriate specialization and suitable academic level.
                                <br>
                                <br>
                                Once you have completed the registration form, you will be assigned a customer ID, which
                                you will use to access your personal account. Your account dashboard is where you place
                                your orders.
                            </p>
                        </div>
                        <div class="second_section">
                             <div
                                 class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                                 <div class="logo">
                                     <img src="../img/pen_works.png" alt="logo">
                                 </div>
                                 <p class="title">2. Upload Additional Information</p>
                             </div>
                        </div>
                         <div class="text-prices">
                             <p class="text6">Usually it takes several minutes for your order to be taken by the writer.
                                 At your account you can upload any additional information that you think your writer
                                 may need, including samples of your own writing for your writer to emulate. You can
                                 also contact your writer directly, to know he or she is on the right track and that
                                 your order is progressing according to your expectations. A messaging system has been
                                 set up for this purpose. However, you can upload additional information before we find
                                 a suitable writer or during the initial stages of the writing process.
                             </p>
                         </div>
                    </div>
                    <div class="second_section">
                        <div
                            class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                            <div class="logo">
                                <img src="../img/third_icon_work.png" alt="logo">
                            </div>
                            <p class="title">3. Your Order is Completed</p>
                        </div>
                    </div>
                    <div class="text-prices">
                        <p class="text6">Once your order is completed, you are immediately notified. However, before it
                            is delivered to you, it must first go through our strict editing process. The piece is read,
                            revised if necessary, and scanned for plagiarism, so that we can ensure that it is
                            structurally sound, grammatically correct and completely original. The work is then uploaded
                            for you to download and is sent to your email address as well.
                        </p>
                    </div>
                    <div class="second_section">
                        <div
                            class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                            <div class="logo">
                                <img src="../img/scan_work.png" alt="logo">
                            </div>
                            <p class="title">4. Free Plagiarism Report</p>
                        </div>
                    </div>
                    <div class="text-prices">
                        <p class="text6">Once your paper is completed you can check the paper for plagiarism, using your
                            account. You get free plagiarism report from one of the most reliable plagiarism detection
                            sites.
                        </p>
                    </div>
                    <div class="second_section">
                        <div
                            class="second_section_title d-flex flex-sm-row justify-content-sm-start align-items-sm-center flex-column align-items-center justify-content-around">
                            <div class="logo">
                                <img src="../img/download.png" alt="logo">
                            </div>
                            <p class="title">5. Download</p>
                        </div>
                    </div>
                    <div class="text-prices">
                        <p class="text6">Your work will remain in our database accessible for you to download for a
                            period of 6 month. Once you download it, it is erased from the database and will never be
                            found by anyone else. You have our guarantee that the paper will never be sold to anyone
                            else. It is your property you have paid for.
                            <br>
                            <br>
                            After you have used our service, we encourage you to complete the feedback/questionnaire
                            form, describing your experience with any and all of our departments. Only in this way can
                            we continue to improve our services and provide appropriate payment to our writers. We
                            provide bonuses to writers who are exemplary and discard writers who do not meet our
                            expectations. Your input is truly valuable to us, so please complete the form.
                        </p>
                    </div>

                    <div class="col-12second_section"></div>
                    <div class="text-prices"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_why d-flex align-items-end justify-content-center">
                            <h2 class="title">Beware</h2>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 d-lg-block d-none">
                        <div class="cap-title-section1 d-flex align-items-center justify-content-center">
                            <div class="title_us">EssaysService.com</div>
                        </div>
                        <div class="section_table d-flex align-items-center justify-content-center">
                        <table class="table table-striped">
                            <tbody>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                                <tr><th scope="chekred"><i class="fas fa-check"></i></th></tr>
                                <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna</td>
                            </tbody>
                        </table>
                    </div>
                    </div>
                     <div class="col-xl-6 col-lg-6 d-lg-block d-none">
                         <div class="cap-title-section2 d-flex align-items-center justify-content-center">
                             <div class="title_us">Other companies</div>
                         </div>
                         <div class="section_table d-flex align-items-center justify-content-center">
                             <table class="table table-striped">
                                 <tbody>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                     <tr>
                                         <th scope="chekred"><i class="fas fa-check"></i></th>
                                     </tr>
                                     <td class="chek"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                         eiusmod tempor incididunt ut labore et dolore magna</td>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                </div>
            </div>
        </main>
    </body>
</html>