<html>
    <head>
        <body>
            <main class="discounts">
                <div class="container-fluid about_us">
                    <div class="row">
                        <div class="col-12">
                            <div class="about_us d-flex justify-content-center align-items-center">
                                <p class="title2">Discounts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_why d-flex align-items-end justify-content-center">
                                <h2 class="title">Discounts for NEW and RETURNING customers!</h2>
                            </div>
                            <div class="section_why d-flex align-items-end justify-content-center">
                                <p class="title4">RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 d-flex justify-content-center align-items-center">
                            <div class="img_logo_discounts d-flex">
                                <img src="../img/disconts.png" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row discount_info">
                        <div class="coi-12">
                            <p class="text6">EssaysService.com focuses on establishing long-term relationships with its
                                customers. Whether your order is small or large, or whether you have a single or
                                multiple orders at one time, you will be able to take advantage of our discounts for the
                                returning customers!</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-12 d-flex justify-content-center">
                            <div class="discount_img_wrapper"></div>
                        </div>
                        <div class="col-xl-8">
                            <div class="text_discounts_wrapper d-flex align-center justify-content-start">
                                <p class="text8">When your total order equals 15 or more pages, you will receive a
                                    permanent 5% dis-
                                    <br>
                                    count on ALL future orders. The 15 pages can be counted from one or multiple orders.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-12 d-flex justify-content-center">
                            <div class="discount_img_wrapper"></div>
                        </div>
                        <div class="col-xl-8">
                            <div class="text_discounts_wrapper d-flex align-center justify-content-start">
                                <p class="text8">Order one or more assignments with a total of 51 pages or more, and we
                                    will give you a
                                    <br>
                                    10% discount on every future order
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-12 d-flex justify-content-center">
                            <div class="discount_img_wrapper"></div>
                        </div>
                        <div class="col-xl-8">
                            <div class="text_discounts_wrapper d-flex align-center justify-content-start">
                                <p class="text8">If your order totals 101 pages or more (a single or multiple works),
                                    you will receive an auto-
                                    <br>
                                    matic 15% discount on all future order
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text_wrapper d-flex align-items-center">
                                <p class="text8">Whatever your writing needs are, we are ready to provide you with top
                                    quality professional writing help for the rest of your academic career! Our
                                    professional writers, editors, and customer support professionals are always
                                    available and ready to help you at any time!</p>
                                    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>
        </body>
    </head>
</html>