<html>
    <head></head>
    <body>
        <main class="login">
            <div class="container-fluid about_us">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us d-flex justify-content-center align-items-center">
                            <p class="title2">Login</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-centr">
                    <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-flex flex-column">
                        <div class="main-form-title-wrapper d-flex align-items-center justify-content-center">
                            <p class="title_contact">Login Form</p>
                        </div>
                        <div class="main-content d-flex flex-column align-items-center">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control3" id="FormGroupExampleInput" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control3" id="FormGroupExampleInput2" placeholder="Password">
                                </div>
                            </form>
                            <div class="form-inner d-flex flex-column align-items-center justify-content-around">
                                <div class="btn-info-wrapper d-flex flex-row justify-content-between">
                                    <div class="links d-sm-flex flex-column d-none">
                                        <a href="#">Forgot your password?</a>
                                        <a href="#">Regisrtation & order</a>
                                        <a href="#">Free registration</a>
                                    </div>
                                    <div class="btn-send-wrapper1">
                                        <button class="btn-login"> > Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>