<html>
    <head></head>
    <body>
        <maim class="about">
            <div class="container-fluid about_us">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us d-flex justify-content-center align-items-center">
                            <p class="title2">about us</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_why d-flex align-itrms-end justify-content-center">
                            <h2 class="title">Why we are?</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="when-title d-flex align-items-center justify-content-center">
                            <div class="title us">
                                When you use EssaysService.com, this is exactly what you get
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <ul class="list">
                                <li class="list_item">
                                    An essay, research paper or term paper written for your academic level, whether that be high school, college, or
                                    graduate school
                                </li>
                                <li class="list_item">Authentic research performed individually for the customer</li>
                                <li class="list_item">A work that is delivered by the deadline established</li>
                                <li class="list_item">Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original
                                instructions)
                                </li>
                                <li class="list_item">A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that
                                purpose
                                </li>
                                <li class="list_item">An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her
                                previous works. The assigned writer can then use that as a model in producing the piece
                                </li>
                                <li class="list_item">A secure and easy method of payment
                                </li>
                                <li class="list_item">A guarantee of complete confidentiality for each customeA customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be Over 1000 academicians who create essays and research papers in their specific subject fieldsr</li>
                                <li class="list_item">A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no
                                matter how simple or complex the work may be Over 1000 academicians who create essays and research papers in their
                                specific subject fields
                                </li>
                                <li class="list_item">Resource use and citation as designated by the customer
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 d-lg-block d-none">
                        <div class="cap-title-section d-flex align-items-center justify-content-center">
                            <div class="title_us">
                                Why choose us
                            </div>
                        </div>
                        <div class="conrainer-section d-flex justify-content-center align-items-center">
                            <ul class="list3">
                                <li>> The largest source data base</li>
                                <li>> Any paper at any academic level</li>
                                <li>> 96% Satisfied and returning customers</li>
                                <li>> A wide range of services</li>
                                <li>> MA/PhD writers</li>
                                <li>> 24/7 Customer support</li>
                                <li>> Flexible discount program</li>
                                <li>> Free plagiarism report</li>
                                <li>> Double checked content</li>
                                <li>> Double checked content</li>
                             </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-12">
                        <div class="Why_Us">
                            <div class="why_us_title justify-content-center align-items-center d-flex flex-column">
                                <h2>Why Us</h2>
                                <h3 class="cap_title">What students seek for writing assistance?</h3>
                            </div>
                            <div class="content align-items-center d-flex">
                                <p class="text6">
                                    First, these students are very intelligent, because they know their limitations and are smart enough to look for
                                    assistancerather than simply ignore their struggles and suffer the consequences.
                                    <br>
                                    Second, they may be facing multiple term or research paper assignments at once. They simply don’t have the time to
                                    complete them all at an acceptable level.
                                    <br>
                                    There are many reasons to use our custom writing service rather than those scams out there. Such ghost-companies will
                                    disappoint you, or, worse, get you in serious trouble by submitting a plagiarized paper that can be easily found on the
                                    Internet.
                                </p>
                            </div>
                            <div class="btn-order-wrapper d-flex justify-content-center">
                                <button class="btn-order-now">order now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section_why d-flex align-items-end justify-content-center">
                            <h2 class="title">Contact Us</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content_contact">
                            <p class="text6">
                                EssaysService.com provides original and high quality essays, reports, research papers, and other types of academic
                                writing to the students. The papers are delivered by the professional writers educated in the finest American
                                universities.
                                <br>
                                We have the best team of academic experts, editors and customer support personnel who work to ensure your complete
                                satisfaction.
                                <br>
                                At our custom writing service we are dedicated to providing unique papers to the students of all academic levels and in
                                all fields of study, from simple to complex. Our company was created to offer you professional writing assistance, no
                                matter what you need, when you need it! Once you have experienced the quality of EssaysService.com, you will never go
                                anywhere else.We are available 24 hours a day, 365 days a year. You can contact us in any way that is convenient for
                                you, and we will start the work on your order immediately.
                            </p>
                            <address>
                                Address: 2120 W. 8th St, Los Angeles, CA 90057
                                <br>
                                Email: essaysservice@mail.com
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-flex flex-column">
                        <div class="main-form-title-wrapper d-flex align-items-center justify-content-center">
                            <p class="title_contact">Contact form</p>
                        </div>
                        <div class="main content d-flex flex-column align-items-center">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-2 col-form-label">Your name</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="colFormLabel">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="colFormLabel">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelLg" class="col-sm-2 col-form-label-lg">Message</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control1 form-control-lg" id="colFormLabelLg">
                                    </div>
                                </div>
                            </form>
                            <div class="btn-send-wrapper">
                                <button class="btn-send"> > Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid last">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="last-contact d-none d-sm-flax justify-content-center align-items-center">
                                <p class="tel">
                                    Call now: +1-202-555-0194
                                    <br>
                                    Toll for free: +1-202-555-0194
                                </p>
                                <div class="chat">
                                    <button class="btn-liv-chat"> > Live chat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </maim>
    </body>
</html>