<html>
    <head></head>
    <body>
        <main class="blog">
            <div class="container-fluid about_us">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us d-flex justify-content-centeralign-items-center">
                            <p class="title2">Blog</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container blog-inner">
                <div class="row">
                    <div class="col-xl-2 d-xl-block d-none">
                        <div class="data_comments">
                            <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                <p class="mounth">aug</p>
                                <p class="number_mounth">3</p>
                                <p class="year">2014</p>
                            </div>
                            <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                <p class="number_comments">12</p>
                                <p class="comments">comments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                        <div class="main-inner">
                            <div class="img-blog d-flex justify-content-end align-items-start">
                                <div class="data_comments_img d-block d-xl-none d-lg-none d-md-none">
                                    <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                    <p class="mounth">aug</p>
                                    <p class="number_mounth">3</p>
                                    <p class="year">2014</p>
                                    </div>
                                    <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                        <p class="number_comments">12</p>
                                        <p class="comments">comments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="name_person">
                                <p class="name2">Posted by Sara Brash</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title_inner_wrapper d-flex align-items-center justify-content-center">
                            <p class="title">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="text_inner">
                            <p class="text_blog">Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future
                            ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful
                            friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an
                            essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you
                            desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure
                            that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver
                            only premium quality essays, term papers, and research papers.</p>
                        </div>
                        <div class="btn-wrapper">
                            <button class="btn-reading">Continie Reading</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container blog-inner">
                <div class="row">
                    <div class="col-xl-2 d-xl-block d-none">
                        <div class="data_comments">
                            <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                <p class="mounth">aug</p>
                                <p class="number_mounth">3</p>
                                <p class="year">2014</p>
                            </div>
                            <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                <p class="number_comments">12</p>
                                <p class="comments">comments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                        <div class="main-inner">
                            <div class="img-blog d-flex justify-content-end align-items-start">
                                <div class="data_comments_img d-block d-xl-none d-lg-none d-md-none">
                                    <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                        <p class="mounth">aug</p>
                                        <p class="number_mounth">3</p>
                                        <p class="year">2014</p>
                                    </div>
                                    <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                        <p class="number_comments">12</p>
                                        <p class="comments">comments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="name_person">
                                <p class="name2">Posted by Sara Brash</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title_inner_wrapper d-flex align-items-center justify-content-center">
                            <p class="title">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="text_inner">
                            <p class="text_blog">Student years are the best time of one’s life. You are in the prime of your life
                                and hopeful about the bright future
                                ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the
                                most faithful
                                friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever
                                struggled to write an
                                essay or prepare a speech only to find that the deadline is getting closer, and the work is not
                                ready yet? Are you
                                desperate for someone to have your paper done? Ordering it online is a really convenient option, but
                                you must be sure
                                that the final product is worth the price. EssaysService.com is one of the leading online writing
                                centers that deliver
                                only premium quality essays, term papers, and research papers.</p>
                        </div>
                        <div class="btn-wrapper">
                            <button class="btn-reading">Continie Reading</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container blog-inner">
                <div class="row">
                    <div class="col-xl-2 d-xl-block d-none">
                        <div class="data_comments">
                            <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                <p class="mounth">aug</p>
                                <p class="number_mounth">3</p>
                                <p class="year">2014</p>
                            </div>
                            <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                <p class="number_comments">12</p>
                                <p class="comments">comments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                        <div class="main-inner">
                            <div class="img-blog d-flex justify-content-end align-items-start">
                                <div class="data_comments_img d-block d-xl-none d-lg-none d-md-none">
                                    <div class="mounth_block d-flex flex-column align-items-center justify-content-around">
                                        <p class="mounth">aug</p>
                                        <p class="number_mounth">3</p>
                                        <p class="year">2014</p>
                                    </div>
                                    <div class="comment_block d-flex flex-column align-items-center justify-content-around">
                                        <p class="number_comments">12</p>
                                        <p class="comments">comments</p>
                                    </div>
                                </div>
                            </div>
                            <div class="name_person">
                                <p class="name2">Posted by Sara Brash</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title_inner_wrapper d-flex align-items-center justify-content-center">
                            <p class="title">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="text_inner">
                            <p class="text_blog">Student years are the best time of one’s life. You are in the prime of your life
                                and hopeful about the bright future
                                ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the
                                most faithful
                                friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever
                                struggled to write an
                                essay or prepare a speech only to find that the deadline is getting closer, and the work is not
                                ready yet? Are you
                                desperate for someone to have your paper done? Ordering it online is a really convenient option, but
                                you must be sure
                                that the final product is worth the price. EssaysService.com is one of the leading online writing
                                centers that deliver
                                only premium quality essays, term papers, and research papers.</p>
                        </div>
                        <div class="btn-wrapper">
                            <button class="btn-reading">Continie Reading</button>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <span>...</span>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>