<html>
    <head></head>
    <body>
        <main class="faq">
            <div class="container-fluid about_us">
                <div class="row">
                    <div class="col-12">
                        <div class="about_us d-flex justify-content-center align-items-center">
                            <p class="title2">FAQ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_why d-flex align-items-end justify-content-center">
                            <h2 class="title">Frequently Asked Questions</h2>
                        </div>
                    </div>
                </div>
                <div class="container inner_faq">
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">1.What happens once I place an order for an essay or paper?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">You will set up a personal account by your email and a selected password. You may use this account to monitor the
                            progress of your order. You may also upload additional instructions, samples of your own writing for your writer to
                            review, and use the links to communicate with your writer or with our customer support team. Once you see all of the
                            options on your account, you will see how easy it is to use.</p>
                        </div>
                    </div>
                </div>
                <div class="container inner_faq">
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">2.Will my writer and I be able to communicate with one another?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">Absolutely! Once you have your account, you may send and receive messages to and from your writer during the entire
                            process of order fulfillment. This is an option that other writing services do not offer, since they do not assign
                            specific writers to each task. EssaysService.com encourages such communication, because we want you to be able to refine
                            instructions and see the progress of your order at any time, day or night.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">3. What methods of payment can I use and are they secure?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">There are a variety of options for making a payment, including all major credit cards, PayPal, BACS, wire transfer,
                            checks or money orders, etc. You will find these options when you go to the payment link. We assure that our payment
                            methods are 100% secure. We do not store anyone’s payment information or payment data from credit cards or accounts, and
                            there are never any surcharges or double billing. We have refined our payment process to be absolutely user friendly.
                            Payment is easy and completely secure at EssaysService.com.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">4. How do you guarantee that I will be satisfied with your work?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">Once you have received your essay, paper, report, etc., you have two days from the email delivery to request revisions. We are happy to make any changes FREE of charge if our writer haven’t followed your instructions precisely. You have 48 hours to apply for a free revision from the moment that order was uploaded in the system. If the final produce does not meet your requirements, you can ask for a refund, and our Quality Control Team will review your complaint. If our writer did not follow your specifications, we will refund your order.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">5. Will others know I have used your service?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">Only if you choose to tell them! We have a strict privacy policy, and we never reveal any information about our
                            customers and their orders. In addition, no one will ever find the work you ordered anywhere online. Confidentiality of
                            our customers is one of our most important guarantees.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">6. Can I specify the format or is there a standard one you use?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">Our standard format is Arial font, 12 point, double-spaced, with one-inch margins all the way around. If you need a
                            different format (some instructors require Times New Roman, for example), all you do is let us know when you place your
                            order. You put these types of instructions in the “Comments” box you will find on the order page.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">7. Do your essays and papers come from pre-written databases?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">Absolutely not! At EssaysService.com, all written work completed for a customer is created from scratch, and follows the
                            specific guidelines set by the customer. We keep no databases of academic works, and you will never see your work
                            anywhere else. We scan each order with the help of 4 plagiarism search engines and ensure 100% authenticity. If you come
                            across plagiarism in your paper, we will refund your money. However, you will have to send us a Turnitin plagiarism
                            report to prove that our writer plagiarized (which never happens at essaysservice.com).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 paper">
                            <div class="when-title d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">8. Is there any way I could get discount, while ordering from EssaysService.com?</p>
                                </div>
                            </div>
                        </div>
                        <div class="about_list_section d-flex justify-content-center align-items-start">
                            <p class="main_inner_text">You can apply for the discount program at EssaysService.com in any way that is convenient for you: the order page,
                            e-mail, or just a live chat. Our Support Team will look at the history of your orders and give you a special code, which
                            you will be able to enter on your order page. Based on the number of orders you placed at EssaysService.com, our agents
                            will offer you the following kinds of discounts: the permanent discount (for those, who continue to be our regular
                            customers, by placing their orders constantly) and discount for our new customers.
                            <br>
                            <br>
                                You can find more information on our discount system below:
                        </p>
                        </div>
                        <div class="about_lict_section d-flex align-items-start">
                            <ul class="list1">
                                <li class="list_item">If you place five orders at EssaysService.com, you get the 5% permanent discount;
                                </li>
                                <li class="list_item">You can also get 5% discount if you fill in our “Feedback Form”;
                                </li>
                                <li class="list_item">You can also get 5% discount chatting with our Customer Support Team agent;
                                </li>
                                <li class="list_item">If you place ten orders at EssaysService.com, you get the 10% permanent discount.
                                </li>
                            </ul>
                        </div>
                        <div class="about_list_section d-flex align-items-start">
                            <p class="main_inner_text">Don’t forget to pay your attention to the updates on our promotional discounts! Our website provides all the necessary
                            information.</p>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-12 paper">
                        <div class="when-title d-flex justify-content-start align-items-center">
                            <div class="title_faq">
                                <p class="title_faq">9. How do you set your prices?</p>
                            </div>
                        </div>
                    </div>
                    <div class="about_list_section d-flex justify-content-center align-items-start">
                        <p class="main_inner_text">Our rates are available on the order form. However, please understand that prices vary depending upon a couple of
                        variables. First, of course, is the urgency of the deadline. When you place an order that must be completed in a very
                        short period of time, we usually have to assign a few professionals, especially if significant research is required, in
                        order to complete it in a superior manner. The other component of our pricing system is the academic level of the order.
                        While a high school term paper can certainly be written by one with a Bachelor’s degree, a college paper will require a
                        writer with at least a Master’s Degree. Orders from graduate students will necessitate a Ph.D. academician, and the
                        charge, of course, will be higher. EssaysService.com wants to be both fair and reasonable in its pricing, and our
                        policies reflect this commitment.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>